@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    /* Primary  */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    
    /* Neutral  */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--light-grey);
    font-family: var(--font-family); 
}

main{
    margin: 8rem auto;
}

.age-calculator {
    background-color: var(--white);
    padding: 40px;
    border-radius: 20px 20px 100px 20px;
    width: 52.5rem;
    margin: 0 auto;
    height: 40.688rem;
    position: relative;
    top: 0%;
}

.submissions{
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    height: 4.375rem;
    width: 10rem;
    outline: none;
    cursor: pointer;
}

.input-group {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 10px;
}

label{
    color: var(--smokey-grey);
    font-size: 1rem;
    font-weight: 600;
}

.submissions:hover{
    border: 1px solid var(--purple);
}

.submissions::placeholder{
    color: var(--smokey-grey);
    font-weight: 700;
    font-size: 1.5rem;
}

.submissions[type="text"]{
    font-size: 1.1rem;
    padding-left: 1rem;
}

hr{
    border: 1px solid var(--light-grey);
    width: 39.5rem;
    position: relative;
    top: 2rem;
}

.submit-button{
    background-color: var(--purple);
    outline: none;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 28%;
    right: 16%;
    padding: 1.1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.submit-button:hover{
    background-color: var(--off-black);
}

.results h1{
    color: var(--off-black);
    font-size: 5.5rem;
    margin: 0;
}

.results span{
    color: var(--purple);
    font-size: 6rem;
}

/* Media Queries mobile screens */
@media (max-width: 768px) {
    .age-calculator{
        width: 21.438rem;
        flex-direction: column;
        height: 30.5rem;
    }

    .submissions{
        padding: 0;
        width: 3.479rem;
    }

    .submit-button{
        top: 35%;
        right: 44%;
    }

    hr{
        width: 14.438rem;
    }

    .results h1{
        font-size: 1.5rem;
    }

    .results span{
        font-size: 1.5rem;
    }
}


