/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
p {
    margin: 0;
}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button
 {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --font-family: 'Poppins', sans-serif;
    /* Primary  */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    
    /* Neutral  */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--light-grey);
    font-family: var(--font-family); 
}

main{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    background: var(--white);
    border-radius: 20px 20px 220px 20px;
}

.age-calculator {
    background-color: var(--white);
    padding: 70px;
    border-radius: 20px 20px 100px 20px;
    top: 0%;
}

.submissions{
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    cursor: pointer;
    padding: 0rem;
}

fieldset{
    border: none;
    display: flex;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width:13.5ch;
}

label{
    color: var(--smokey-grey);
    font-size: 1rem;
    font-weight: 600;
}

.submissions:hover{
    border: 1px solid var(--purple);
}

.submissions::placeholder{
    color: var(--smokey-grey);
    font-weight: 700;
    font-size: 1.5rem;
}

.submissions[type="text"]{
    font-size: 2rem;
    padding-left: 1rem;
}

hr{
    border: 1px solid var(--light-grey);
    width: 100%;
}

.submit-button{
    background-color: var(--purple);
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 29%;
    right: 36%;
    padding: 1.1rem;
    cursor: pointer;
}

.submit-button:hover{
    background-color: var(--off-black);
}

.results{
    margin-left: 3rem;
}

.results p{
    color: var(--off-black);
    font-size: 5.5rem;
    font-weight: 600;
    margin: 0;
}

.results span{
    color: var(--purple);
    font-size: 6rem;
}

/* Media Queries mobile screens */
@media (max-width: 768px) {
    .row{
        width: 21.438rem;
        height: 30.5rem;
    }

    .input-group{
        width: 100%;
    }

    .submissions{
        padding: 0;
        width: 3.479rem;
    }

    .submissions[type="text"]{
        font-size: 1.125rem;
    }

    .submit-button{
        top: 38%;
        right: 44%;
    }

    .results p{
        font-size: 2.5rem;
    }

    .results span{
        font-size: 1.5rem;
    }
}